name: Extension Build & Test
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        pg_version: ['15', '16']

    env:
      PGHOST: localhost
      PGPORT: 5432
      PGUSER: postgres
      PGPASSWORD: password

    services:
      pg_db:
        image: postgres:${{ matrix.pg_version }}
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install PostgreSQL dev headers
        run: |
          sudo apt-get update
          sudo apt-get install -y postgresql-server-dev-${{ matrix.pg_version }}

      - name: Build extensions
        run: make build

      - name: Install extensions
        run: sudo make install

      - name: Test extensions
        run: make test
